// Width & heights
._w-100 {
  width: 100%;
}

._w-75 {
  width: 75%;
}

._w-50 {
  width: 50%;
}

._h-100 {
  height: 100%;
}

._h-75 {
  height: 75%;
}

._h-50 {
  height: 50%;
}

// Flex
._row-center-center {
  @include horizontal(center, center);
}

._row-start-start {
  @include horizontal(flex-start, flex-start);
}

._row-start-center {
  @include horizontal(flex-start, center);
}

._row-center-start {
  @include horizontal(center, flex-start);
}

._row-center-end {
  @include horizontal(center, flex-end);
}

._row-center-between {
  @include horizontal(center, space-between);
}
  
._col-center-center {
  @include vertical(center, center);
}

._col-start-start {
  @include vertical(center, center);
}

._col-start-center {
  @include vertical(flex-start, center);
}

._col-center-start {
  @include vertical(center, start);
}

._col-center-end {
  @include vertical(center, flex-end);
}

._col-center-between {
  @include vertical(center, space-between);
}

._col-start-around {
  @include vertical(flex-start, space-around);
}

.p-0 {
  padding: 0; 
}

.pt-0 {
  padding-top: 0; 
}

// .pt-1 {
//   padding-top: $spacing-small;
// }

// .pr-1
//   padding-right $spacing-small
  
// .pb-0
//   padding-bottom 0

// .pb-1
//   padding-bottom $spacing-small

// .pl-0
//   padding-left 0

// .m-0
//   margin 0

// .mb-0
//   margin-bottom 0

// .mb-1
//   margin-bottom $spacing-small

// .mb-2
//   margin-bottom $spacing-medium
  
// .mb-3
//   margin-bottom $spacing-large
  
// .mb-4
//   margin-bottom $spacing-x-large
  
// .mb-5
//   margin-bottom $spacing-xx-large

// .mt-0
//   margin-top 0

// .mt-1
//   margin-top $spacing-small
  
// .mt-2
//   margin-top $spacing-medium
  
// .mt-3
//   margin-top $spacing-large
  
// .mt-4
//   margin-top $spacing-x-large
  
// .mt-5
//   margin-top $spacing-xx-large 
  
// .ml-1
//   margin-left $spacing-small 
  
// .ml-2
//   margin-left $spacing-medium 

// .ml-3
//   margin-left $spacing-large 

// .ml-4
//   margin-left $spacing-x-large 

// .ml-5
//   margin-left $spacing-xx-large 
  
// .mr-1
//   margin-right $spacing-small 
  
// .mr-2
//   margin-right $spacing-medium 

// .mr-3
//   margin-right $spacing-large 

// .mr-4
//   margin-right $spacing-x-large 


// ._float-right
//   float right
  
// ._float-left
//   float left
  
// ._has-tabbar
//   padding-top $height-navbar
